@media only screen and (max-width: 1024px) {
    .sidebar {
        width: 72px;
    }

    .sidebar button span span {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar p {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar button:hover {
        background: transparent;
    }

    .bemvindo {
        margin-left: 85px;
        margin-right: 15px;
        transition: all 0.8s;
    }

    .bemvindo .portfolio .txtBemVindo {
        line-height: 4rem;
    }

    .bemvindo .portfolio .txtBemVindo p {
        font-size: 4.5rem;
    }

    .bemvindo .portfolio .txtBemVindo h1 {
        font-size: 1.5rem;
    }

    .main {
        margin-left: 85px;
        margin-right: 15px;
        transition: all 0.8s;
    }

    .main .sobre .title .txt .skills p {
        text-align: center;
        font-size: 0.7rem;
        margin: auto;
    }

    .main .expe img {
        width: 340px;
        height: 340px;
    }

    .main .expe video {
        width: 330px;
    }

    .main .expe .anosSlogan p {
        font-size: 7rem;
    }

    .main .expe .anosSlogan h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .main .feedback .bodyCard {
        display: block;
    }

    .main .feedback .card {
        margin: 1rem auto 0 auto;
    }
}

@media only screen and (max-width: 1680px) {

}
